body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.container{
    background-color: #61dafb;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 10vh;
    border: 8px solid white;
}


.exampleItem span{
    font-style: italic;
}


