body  {
    color: var(--black);
    height: 100%;
    background-color: white;


}

:root {
    --red: #ff595e;
    --redDark: #8D0801;
    --blue: #1982c4;
    --orange: #ffca3a;
    --orangeDark: #f3ab09;
    --black: #252323;
    --fullwidth: 100%;
}

.gamePage {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.gamePageContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.wordList {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    align-content: center;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.wordItem {
    background-color: var(--orange);
    width: 30%;
    margin: auto;
    font-size: 0.8vw;
    padding: 0 2% 0 2%;
    text-align: center;
    box-shadow: 3px 3px 3px var(--orangeDark);

}

.wordList :hover {
    background-color: var(--orangeDark);
}

.textArea {
    width: 80vw;
    display: flex;

}



.textArea > input {
    margin: 8vh;
    max-width: 80%;
    height: 80%;
    width: 100%;
    background: transparent;
    font-size: 2.5vh;
    border-color: white;
    border-width: 0 0 3px 0;
    color: var(--black);

}

.lastSentence {
    font-size: 2vw;
    font-style: italic;
}

.itemDetail {
    border: solid;
    padding: 1em;
    font-size: 1.8vh;
    box-sizing: border-box;
    margin-top: 2vh;
}

.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    width: 20vw;
    color: white;
    border: none;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active, .small:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.btn.circular {
    border-radius: 50em !important;
}

.small{
    border: 1px solid var(--blue);
    border-radius: 50em !important;
    padding: 0.8em 1em 0.8em 1em;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 8px 8px 8px 8px;

    width: 8vw;
    background-color: transparent;
    color: var(--blue);
}

.small:hover {
    background-color: var(--blue);
    color: white;
}

.blue {
    background-color: var(--blue);
}

 /*homePage*/

.home{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home > h1 {
    font-size: 8vh;
    color: var(--red);
    font-weight: bolder;
    text-shadow: 3px 2px var(--orange);
}

.home > p {
    background-color: var(--red);
    color: white;
    font-size: 2vh;
    width: 30vw;
    padding: 1%;
    line-height: 22px;
    border: 1vh solid var(--orange);
    box-shadow: 10px 10px 10px var(--red);
}

.home > input {
    width: 20vw;
    height: 3vh;
    border: 1px solid var(--black);
    font-size: 2vh;
}




























